<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>370536888073005</sid>
    <event-sheet>evMenu</event-sheet>
    <size>
        <width>1092</width>
        <height>1156</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Menu" sid="674572504064636">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Bg_Floor" uid="74">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-32</x>
                        <y>-32</y>
                        <z>0</z>
                        <width>891</width>
                        <height>503</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Txt_Logo" uid="75">
                    <properties>
                        <text>CHESS SHOOTER</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-64,400,0</font>
                        <color>204,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Size</movement>
                                <wave>Sine</wave>
                                <period>12</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>25</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Sine2">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Angle</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>2</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>384</x>
                        <y>128</y>
                        <z>0</z>
                        <width>352</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Txt_Menu" uid="76">
                    <properties>
                        <text>Choose your Moves, Shot &amp; Win</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-21,400,0</font>
                        <color>204,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Opacity</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>40</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>384</x>
                        <y>224</y>
                        <z>0</z>
                        <width>224</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Txt_Credits" uid="82">
                    <properties>
                        <text>Credits</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-24,400,0</font>
                        <color>204,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Opacity</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>40</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>320</x>
                        <y>608</y>
                        <z>0</z>
                        <width>128</width>
                        <height>30</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Hud_SelectMode" uid="80">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Players>1</Players>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Opacity</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>15</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>224</x>
                        <y>320</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.400000006</opacity>
                    </world>
                </instance>
                <instance type="Txt_Menu" uid="83">
                    <properties>
                        <text>Player vs CPU</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-21,400,0</font>
                        <color>204,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>224</x>
                        <y>256</y>
                        <z>0</z>
                        <width>192</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Hud_SelectMode" uid="81">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <Players>0</Players>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>Yes</active-on-start>
                                <movement>Opacity</movement>
                                <wave>Sine</wave>
                                <period>2</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>15</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>544</x>
                        <y>320</y>
                        <z>0</z>
                        <width>128</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>0.400000006</opacity>
                    </world>
                </instance>
                <instance type="Txt_Menu" uid="84">
                    <properties>
                        <text>Player vs Player</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Stencil,-21,400,0</font>
                        <color>204,0,0</color>
                        <horizontal-alignment>Center</horizontal-alignment>
                        <vertical-alignment>Center</vertical-alignment>
                        <hotspot>Center</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Sine">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <movement>Horizontal</movement>
                                <wave>Sine</wave>
                                <period>4</period>
                                <period-random>0</period-random>
                                <period-offset>0</period-offset>
                                <period-offset-random>0</period-offset-random>
                                <magnitude>50</magnitude>
                                <magnitude-random>0</magnitude-random>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>544</x>
                        <y>256</y>
                        <z>0</z>
                        <width>224</width>
                        <height>32</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Hud_Players" uid="73">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Rotate">
                            <properties>
                                <speed>50</speed>
                                <acceleration>0</acceleration>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>224</x>
                        <y>320</y>
                        <z>0</z>
                        <width>66.260299683</width>
                        <height>73.056221008</height>
                        <depth>0</depth>
                        <hotspotX>0.512820542</hotspotX>
                        <hotspotY>0.511627913</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Hud_Players" uid="77">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Rotate">
                            <properties>
                                <speed>50</speed>
                                <acceleration>0</acceleration>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>512</x>
                        <y>320</y>
                        <z>0</z>
                        <width>46.853107452</width>
                        <height>51.658550262</height>
                        <depth>0</depth>
                        <hotspotX>0.512820542</hotspotX>
                        <hotspotY>0.511627913</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Hud_Players" uid="78">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Rotate">
                            <properties>
                                <speed>50</speed>
                                <acceleration>0</acceleration>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>576</x>
                        <y>320</y>
                        <z>0</z>
                        <width>46.853107452</width>
                        <height>51.658550262</height>
                        <depth>0</depth>
                        <hotspotX>0.512820542</hotspotX>
                        <hotspotY>0.511627913</hotspotY>
                        <angle>-3.141586781</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Hud" sid="916536423392968">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="Hud_Audio" uid="85">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>608</y>
                        <z>0</z>
                        <width>48</width>
                        <height>48</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
